.recent {
  margin-top: 154px;

  > p {
    font-size: 14px;
    line-height: 29px;
    margin: 20px 0;
    text-align: center;
    color: $text-color;
  }

  .recent__title {
    color: $primary;
    font-size: 36px;
    letter-spacing: 3.6px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  .recent__links {
    margin: 56px 0 39px;
    text-align: center;
    color: $text-color;

    a {
      text-decoration: none;
      font-size: 14px;
      color: $text-color;
      display: inline-block;
      margin: 5px 15px;
      transition-duration: 500ms;
      transition-property: color;
      text-transform: uppercase;

      &:hover {
        color: $primary;
      }

    }

  }

  .recent__block {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0;
  }

  .recent__item {
    flex-basis: 25%;
    position: relative;
    height: 475px;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }

    a {
      text-decoration: none;
      display: block;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(231, 76, 60, 0.8);
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity;
      }

      &:hover {

        &::after, p {
          opacity: 1;
        }

      }

    }

    p {
      position: absolute;
      left: 10%;
      bottom: 35px;
      z-index: 1;
      color: $white;
      opacity: 0;
      transition-duration: 500ms;
      transition-property: opacity;

      &::before {
        content: "";
        width: 44px;
        height: 4px;
        background-color: $white;
        margin-bottom: 25px;
        display: block;
      }

      span {
        display: block;
        margin: 15px 0;
        font-size: 14px;
        letter-spacing: 0.7px;

        &:first-child {
          text-transform: uppercase;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 1.2px;
        }

      }

    }

  }

}

@media (max-width: 980px) {

  .recent {
    margin-top: 50px;

    .recent__item {

      p {
        bottom: 10px;

        span {

          &:first-child {
            font-size: 18px;
          }

        }

      }

    }

  }

}

@media (max-width: 768px) {

  .recent {

    .recent__item {
      flex-basis: 50%;
    }

  }

}

@media (max-width: 480px) {

  .recent {

    .recent__item {
      flex-basis: 100%;
    }

  }

}